/*
COLOR SCHEME:

white
black

light blue: #acc6d5
medium light blue: #80a4b7
medium blue: #6e94ac
dark blue: #2f485a
really dark blue: #162835
white
*/

/* adding fonts here */

body {
  background-color: white;
}


/* float clearing for IE6 */
* html .clearfix{
  height: 1%;
  overflow: visible;
}

/* float clearing for IE7 */
*+html .clearfix{
  min-height: 1%;
}

/* float clearing for everyone else */
.clearfix:after{
  clear: both;
  content: ".";
  display: block;
  height: 0;
  visibility: hidden;
  font-size: 0;
}


.noback {
  background-color: rgba(0,0,0,0);
}
.noborder {
  border: none;
}

.backhead {
  width: 100%;
}
#header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 20vh;
  background-color: white;
  z-index: 10;
}
.left {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
	align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 30%;
  background-color: white;
}
.logo {
  height: 85%;
  width: auto;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
}
.globalGoodLogo {
  display: -webkit-flex;
  display: block;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  object-fit: contain;
  max-width: 95%;
  max-height: 95%;
  width: auto;
  height: auto;
  position: relative;
}
.right {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 70%;
  background-color: white;
}.partnerlogos {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: -10vw;
  width: 30%;
  height: 90%;
}
.siliconSlopesLogo {
  content: url('siliconslopeslogo.png');
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  object-fit: contain;
  max-width: 35%;
  max-height: 60%;
  width: auto;
  height: auto;
  padding: 0.5vw;
}
.utosLogo {
  content: url('utoslogocolor.png');
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  object-fit: contain;
  max-height: 40%;
  max-width: 45%;
  height: auto;
  width: auto;
  margin-right: 1vw;
}
.cotopaxiLogo {
  content: url('cotopaxilogocolor.png');
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  object-fit: contain;
  max-height: 60%;
  max-width: 45%;
  height: auto;
  width: auto;
}
.ircLogo {
  content: url('irclogocolor.png');
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  object-fit: contain;
  cursor: pointer;
  max-width: 25%;
  max-height: 60%;
  width: auto;
  height: auto;
  margin-left: 1vw;
}
.navbar {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  right: 1vw;
  width: 23%;
  height: 40%;
  overflow: inherit;
  font-size: 2.3vmin;
  font-family: "Lucida Sans Unicode", sans-serif;
  text-decoration: none;
  color: #2f485a;
}
.menulink {
  color: #2f485a;
  padding: 0.5vw;
  transition: 0.25s;
  cursor: pointer;
}
.menulink:hover {
  color: #80a4b7;
  transition: 0.25s;
}
.donatebutton {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  right: 0;
  width: 17%;
  height: 100%;
  color: white;
  background-color: #2f485a;
  border: none;
  font-size: 3.5vmin;
  font-family: "Lucida Sans Unicode", sans-serif;
  text-decoration: none;
}
.donatelink{
  transition: 0.5s;
}
.donatelink:hover {
  color: #2f485a;
  transition: 0.5s;
}
.content {
  position: absolute;
  z-index: -2;
  width:100%;
  top: 20vh;
  left: 0px;
  /*just to get the page to scroll*/
}
.slideshow {
  position: relative;
  left: 0px;
  width: 100%;
}
.imagesel{
  height: 20px;
  width: 20px;
  border-radius: 10px;
  margin-bottom: 10px;
}
.mySlides {
  width: 100%;
  display: none;
  overflow: hidden;
  object-fit: fill;
}
.bannercontent {
  margin-top: 20px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: white;
  color: #162835;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 24px;
  box-sizing: border-box;
}
.bannercontent2 {
  margin-top: 0px;
  margin-bottom: 20px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  padding: 5vmin;
  background-color: #2f485a;
  color: white;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 40px;
  box-sizing: border-box;
}
.bannercontent3 {
  margin-top: 20px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  padding: 10px;
  color: white;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 24px;
  box-sizing: border-box;
}
.bannercontent4 {
  margin-top: 0px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  padding: 10px;
  color: white;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 20px;
  box-sizing: border-box;
}
h3 {
  font-size: 20px;
  color: #2f485a;
}
.blockcontent {
  float: left;
  position: relative;
  margin: 30px;
  padding: 30px;
  padding-top: 10px;
  border-left-width: 20px;
  border-left-color: black;
  width: 70%;
  height: auto;
  background-color: white;
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  left: 0px;
  color: #6e94ac;
  border-color: #6e94ac;
  border: 1px;
  border-left: 3px;
  border-style: solid;
}
.blockcontent2 {
  float: left;
  position: relative;
  margin: 30px;
  padding: 30px;
  padding-top: 10px;
  border-left-width: 20px;
  border-left-color: black;
  width: 42%;
  height: auto;
  background-color: white;
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  left: 0px;
  color: #6e94ac;
  border-color: #6e94ac;
  border: 1px;
  border-left: 3px;
  border-style: solid;
}
.blockcontent3 {
  float: left;
  position: relative;
  margin: 30px;
  padding: 20px;
  width: 42%;
  height: auto;
  font-family: "Tahoma", sans-serif;
  font-size: 19px;
  left: 0;
  color: #80a4b7;
}
.div1 {
  width: 100%;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
}
.rc2 {
  height: 40vh;
  width: auto;
}
.bluebackground {
  width: 100%;
  height: auto;
  padding: 20px;
  background-color: #2f485a;
}
.logocontainer {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  height: auto;
  width: 90%;
  font-size: 18px;
}
.aboutcompanies {
  margin: auto;
  width: 100%;
  height: auto;
  padding: 30px;
}
.companylogo {
  width: 20%;
  margin: 30px;
}
.irc {
  width: 13%;
}
.a {
  background-image: url('/resources/Images/coverimage-refugeecomputer.jpg');
  width: 100%;
  height: 90%;
}
.b {
  background-image: url('/resources/Images/code.jpeg');
  width: 100%;
  height: 90%;
}
.c {
  background-image: url('/resources/Images/circuitboard.jpeg');
  width: 100%;
  height: 90%;
}
.d {
  background-image: url('/resources/Images/hardware.jpg');
  width: 100%;
  height: 90%;
}
.bannerimage {
  width: 100%;
  position: relative;
  left: 0px;
  margin-bottom: -10px;
}
.leftalign {
  left: 0px;
  position: relative;
  width: 100%;
}
.rightalign {
  right: 0px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  width: 100%;
}
.helpingrefugeesimg {
  right: 0px;
  height: 60vh;
  margin: 40px;
}
