/*
COLOR SCHEME:

white
black

light blue: #acc6d5
medium light blue: #80a4b7
medium blue: #6e94ac
dark blue: #2f485a
really dark blue: #162835
white
*/

/* adding fonts here */

@font-face {
  font-family: "Warsaw Gothic";
  src: url('C://Users/Elena/Desktop/MASTER - The Global Good/website/resources/Fonts/warsawgothic.otf');
}

body {
  background-color: #6e94ac;
}
#header {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 125px;
  background-color: white;
  z-index: 10;
}
.left {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
	align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 40%;
  background-color: white;
}
.logo {
  height: 85%;
  width: auto;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
}
.globalGoodLogo {
  display: -webkit-flex;
  display: block;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  display: flex;
  object-fit: contain;
  max-width: 85%;
  max-height: 95%;
  width: auto;
  height: auto;
  position: relative;
}
.right {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 50%;
  background-color: white;
}
.navbar {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  right: 0px;
  width: 50%;
  height: 50%;
  overflow: inherit;
  font-size: 3vmin;
  font-family: "Lucida Sans Unicode", sans-serif;
  text-decoration: none;
  color: #2f485a;
}
.menulink {
  color: #2f485a;
  padding: 5px;
  transition: 0.25s;
}
.menulink:hover {
  color: #80a4b7;
  transition: 0.25s;
}
.partnerlogos {
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: -30px;
  width: 50%;
  height: 90%;
}
.siliconSlopesLogo {
  content: url('siliconslopeslogo.png');
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  object-fit: contain;
  max-width: 70%;
  max-height: 70%;
  width: auto;
  height: auto;
  padding: 7px;
}
.utosLogo {
  content: url('utoslogo.png');
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  object-fit: contain;
  max-height: 40%;
  max-width: 80%;
  height: auto;
  width: auto;
  padding: 7px;
}
.donatebutton {
  position: absolute;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  left: 0;
  bottom: -30%;
  width: 100%;
  height: 30%;
  color: white;
  background-color: #2f485a;
  border: none;
  font-size: 16px;
  font-family: "Lucida Sans Unicode", sans-serif;
}
.content {
  position: absolute;
  z-index: -2;
  width: 100%;
  top: 100px;
  left: 0px;
  /*just to get the page to scroll*/
}
.coverimage {
  position: relative;
  width: 100%;
}
.bannercontent {
  margin-top: 20px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: white;
  color: black;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 24px;
}
.bannercontent2 {
  margin-top: 20px;
  position: relative;
  display: -webkit-flex;
  display: flex;
  -webkit-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  justify-content: center;
  align-content: center;
  width: 100%;
  height: auto;
  padding: 10px;
  background-color: #acc6d5;
  color: #162835;
  font-family: "Lucida Sans Unicode", sans-serif;
  font-size: 18px;
}
h3 {
  font-size: 20px;
  color: #2f485a;
}
.blockcontentleft {
  float: left;
  position: relative;
  margin: 30px;
  padding: 30px;
  padding-top: 10px;
  border-left-width: 20px;
  border-left-color: black;
  width: 42%;
  height: 200px;
  background-color: white;
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  left: 0px;
  color: #6e94ac;
}
.blockcontentright {
  float: right;
  position: relative;
  margin: 30px;
  padding: 30px;
  padding-top: 10px;
  border-left-width: 20px;
  border-left-color: black;
  width: 42%;
  height: 200px;
  background-color: white;
  font-family: "Tahoma", sans-serif;
  font-size: 18px;
  right: 0px;
  color: #6e94ac;
}
